name: Python package with Git Bisect

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"

            - name: Install packages
              run: pip install -r requirements.txt

            - name: Install pytest # si ton projet utilise pytest
              run: pip install pytest

            - name: Run git bisect script
              run: python myscript.py
